.sidebar{
    width:250px;
    height:100vh;
    background:#1565c0;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    display:flex;
    align-items:center;
    gap:10px;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.sidebar li:hover{
    background:#1976d2;
}

.sidebar a{
    color:white;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:10px;
    width:100%;
}

.sidebar li:hover{
    background:#1976d2;
}